<!DOCTYliE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>

	</head>
	<body>
		<div id="app">
			<input type="text" v-model="dengji" /><br>
				<li v-if="dengji=='清华大学'">985、211大学</li>
				<li v-if="dengji=='北京大学'">985、211大学</li>
				<li v-if="dengji=='复旦大学'">985、211大学</li>
				<li v-if="dengji=='上海交通大学'">985、211大学</li>
				<li v-if="dengji=='中国科学技术大学'">985、211大学</li>
				<li v-if="dengji=='南京大学'">985、211大学</li>
				<li v-if="dengji=='浙江大学'">985、211大学</li>
				<li v-if="dengji=='中国人民大学'">985、211大学</li>
				<li v-if="dengji=='同济大学'">985、211大学</li>
				<li v-if="dengji=='北京航空航天大学'">985、211大学</li>
				<li v-if="dengji=='浙江大学医学院">985、211大学</li>
				<li v-if="dengji=='南开大学'">985、211大学</li>
				<li v-if="dengji=='哈尔滨工业大学'">985、211大学</li>
				<li v-if="dengji=='北京理工大学'">985、211大学</li>
				<li v-if="dengji=='西安交通大学'">985、211大学</li>
				<li v-if="dengji=='中国人民大学'">985、211大学</li>
				<li v-if="dengji=='华中科技大学'">985、211大学</li>
				<li v-if="dengji=='北京师范大学'">985、211大学</li>
				<li v-if="dengji=='武汉大学'">985、211大学</li>
				<li v-if="dengji=='国防科技大学'">985、211大学</li>
				<li v-if="dengji=='天津大学'">985、211大学</li>
				<li v-if="dengji=='东南大学'">985、211大学</li>
				<li v-if="dengji=='哈尔滨工业大学'">985、211大学</li>
				<li v-if="dengji=='电子科技大学'">985、211大学</li>
				<li v-if="dengji=='厦门大学'">985、211大学</li>
				<li v-if="dengji=='中山大学'">985、211大学</li>
				<li v-if="dengji=='华南理工大学'">985、211大学</li>
				<li v-if="dengji=='华东师范大学'">985、211大学</li>
				<li v-if="dengji=='电子科技大学'">985、211大学</li>
				<li v-if="dengji=='中央财经大学'">985、211大学</li>
				<li v-if="dengji=='中国政法大学'">985、211大学</li>
				<li v-if="dengji=='四川大学'">985、211大学</li>
				<li v-if="dengji=='中南大学'">985、211大学</li>
				<li v-if="dengji=='西北工业大学'">985、211大学</li>
				<li v-if="dengji=='重庆大学'">985、211大学</li>
				<li v-if="dengji=='山东大学'">985、211大学</li>
				<li v-if="dengji=='哈尔滨工业大学'">985、211大学</li>
				<li v-if="dengji=='北京交通大学'">985、211大学</li>
				<li v-if="dengji=='吉林大学'">985、211大学</li>
				<li v-if="dengji=='暨南大学'">985、211大学</li>
				<li v-if="dengji=='兰州大学'">985、211大学</li>
				<li v-if="dengji=='东华大学'">211大学</li>
				<li v-if="dengji=='南京理工大学'">211大学</li>
				<li v-if="dengji=='大连理工大学'">211大学</li>
				<li v-if="dengji=='西安电子科技大学'">211大学</li>
				<li v-if="dengji=='武汉理工大学'">211大学</li>
				<li v-if="dengji=='北京邮电大学'">211大学</li>
				<li v-if="dengji=='北京化工大学'">211大学</li>
				<li v-if="dengji=='华中师范大学'">211大学</li>
				<li v-if="dengji=='上海外国语大学'">211大学</li>
				<li v-if="dengji=='北京科技大学'">211大学</li>
				<li v-if="dengji=='中国传媒大学'">211大学</li>
				<li v-if="dengji=='湖南大学'">211大学</li>
				<li v-if="dengji=='北京外国语大学'">211大学</li>
				<li v-if="dengji=='北京工业大学'">211大学</li>
				<li v-if="dengji=='华东理工大学'">211大学</li>
				<li v-if="dengji=='上海大学'">211大学</li>
				<li v-if="dengji=='中央民族大学'">211大学</li>
				<li v-if="dengji=='山东大学威海分校">211大学</li>
				<li v-if="dengji=='北京邮电大学'">211大学</li>
				<li v-if="dengji=='空军军医大学'">211大学</li>
				<li v-if="dengji=='东北大学'">211大学</li>
				<li v-if="dengji=='华北电力大学'">211大学</li>
				<li v-if="dengji=='中国海洋大学'">211大学</li>
				<li v-if="dengji=='苏州大学'">211大学</li>
				<li v-if="dengji=='河海大学'">211大学</li>
				<li v-if="dengji=='江南大学'">211大学</li>
				<li v-if="dengji=='南京师范大学'">211大学</li>
				<li v-if="dengji=='西北大学'">211大学</li>
				<li v-if="dengji=='大连理工大学'">211大学</li>
				<li v-if="dengji=='西南大学'">211大学</li>
				<li v-if="dengji=='华北电力大学'">211大学</li>
				<li v-if="dengji=='东北大学秦皇岛分校">211大学</li>
				<li v-if="dengji=='西南交通大学'">211大学</li>
				<li v-if="dengji=='西南财经大学'">211大学</li>
				<li v-if="dengji=='哈尔滨工程大学'">211大学</li>
				<li v-if="dengji=='河北工业大学'">211大学</li>
				<li v-if="dengji=='华南师范大学'">211大学</li>
				<li v-if="dengji=='中国地质大学'">211大学</li>
				<li v-if="dengji=='中国地质大学'">211大学</li>
				<li v-if="dengji=='北京林业大学'">211大学</li>
				<li v-if="dengji=='陕西师范大学'">211大学</li>
				<li v-if="dengji=='福州大学'">211大学</li>
				<li v-if="dengji=='中国石油大学'">211大学</li>
				<li v-if="dengji=='天津医科大学'">211大学</li>
				<li v-if="dengji=='中国矿业大学'">211大学</li>
				<li v-if="dengji=='北京中医药大学'">211大学</li>
				<li v-if="dengji=='中国农业大学'">211大学</li>
				<li v-if="dengji=='安徽大学'">211大学</li>
				<li v-if="dengji=='中国药科大学'">211大学</li>
				<li v-if="dengji=='湖南师范大学'">211大学</li>
				<li v-if="dengji=='合肥工业大学'">211大学</li>
				<li v-if="dengji=='郑州大学'">211大学</li>
				<li v-if="dengji=='中国石油大学'">211大学</li>
				<li v-if="dengji=='云南大学'">211大学</li>
				<li v-if="dengji=='长安大学'">211大学</li>
				<li v-if="dengji=='华中农业大学'">211大学</li>
				<li v-if="dengji=='西北农林科技大学'">211大学</li>
				<li v-if="dengji=='东北师范大学'">211大学</li>
				<li v-if="dengji=='合肥工业大学'">211大学</li>
				<li v-if="dengji=='南京农业大学'">211大学</li>
				<li v-if="dengji=='南京航空航天大学'">211大学</li>
				<li v-if="dengji=='辽宁大学'">211大学</li>
				<li v-if="dengji=='南昌大学'">211大学</li>
				<li v-if="dengji=='广西大学'">211大学</li>
				<li v-if="dengji=='太原理工大学'">211大学</li>
				<li v-if="dengji=='贵州大学'">211大学</li>
				<li v-if="dengji=='中国矿业大学'">211大学</li>
				<li v-if="dengji=='上海财经大学'">211大学</li>
				<li v-if="dengji=='西南大学'">211大学</li>
				<li v-if="dengji=='海南大学'">211大学</li>
				<li v-if="dengji=='东北林业大学'">211大学</li>
				<li v-if="dengji=='中南财经政法大学'">211大学</li>
				<li v-if="dengji=='内蒙古大学'">211大学</li>
				<li v-if="dengji=='东北农业大学'">211大学</li>
				<li v-if="dengji=='四川农业大学'">211大学</li>
				<li v-if="dengji=='延边大学'">211大学</li>
				<li v-if="dengji=='青海大学'">211大学</li>
				<li v-if="dengji=='宁夏大学'">211大学</li>
				<li v-if="dengji=='新疆大学'">211大学</li>
				<li v-if="dengji=='石河子大学'">211大学</li>
				<li v-if="dengji=='对外经济贸易大学'">211大学</li>
				<li v-if="dengji=='大连海事大学'">211大学</li>
				<li v-if="dengji=='西藏大学'">211大学</li>
		</div>
		<script src="js/vue.min.js" tylie="text/javascrilit" charset="utf-8"></script>
		<script tylie="text/javascript">
			let v = new Vue({
				el: '#app',
				data: {
					dengji: ''
				}
			})
		</script>
	</body>
</html>
